.article {
	padding: 50px 56px 150px;
	margin: 0 auto 0;
	word-wrap: break-word;

	audio {
		width: 100%;
		max-width: 500px;
	}
	
	&-title {
		font-size: 2.5rem;
	}
	
	&-date, &-player{		
		font-size: 1.4rem;
		margin: 0 0 10px 18px;		
	}
	
	&-description {
		font-size: 1.6rem;
		margin: 0 0 0 18px;				
	}

	&-content {
		font-size: 1.6rem;
		h1 { font-size: 2.5rem; }
		h2 { font-size: 2.2rem; }
		h3 { font-size: 2.0rem; }
		h4 { font-size: 1.8rem; }	
		p{
			margin: 0 0 0 18px;
			font-size: 1.6rem;
		}
	}

	.twitter-share-button {
		margin: 15px 0 0 0;
	}

}
