.header {
	background-image: url(/images/header.jpg);
  background-size: cover;
  background-position: center;
	width: 100%; // 横幅を端まで伸ばす
	
	.title {
		font-family: "Hannari", "Sawarabi Mincho";
		margin: 0 auto 0;
		padding: 70px 16px 20px;
		text-shadow:
			1px 1px 3px #777,
			-1px 1px 3px #777,
			1px -1px 3px #777,
			-1px -1px 3px #777;
		color: white;
		a {
			color: white;
		}
		
		&-sub {
			margin: 0 40px 4px;
			font-size: 2.5rem;
		}

		&-main {
			margin: 0 40px 6px;
			font-size: 4.5rem;
		}

		&-description {
			margin: 0 40px 20px;
			font-size: 1.6rem;
		}
	}
}

