.main {
	padding: 2rem 0px 10rem;
	word-wrap: break-word;

	.post {
		padding: 2rem 2rem;

    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);

		&-title {
			color: #000000;
			font-size: 3.0rem;
		}

		&-date, &-description {
			font-size: 1.5rem;
		}
	}	
}
