<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>てのひら返し | {{ page.ep_number }}. {{ page.title }}</title>	
	<link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css" rel="stylesheet">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/4.2.9/mediaelement-and-player.min.js"></script>
  <link href="/css/style.css" rel="stylesheet">	
</head>
<body>
	<div class="container">
		{% include header.html %}
		
		<main class="article">
			<div class="article-inner">
			<h1 class="article-title">{{ page.ep_number }}. {{ page.title }}</h1>
			<p class="article-date">{{ page.date | date: "%Y年%m月%d日" }}</p>	
			<p class="article-player">
				<audio
					class="mejs__player"
					controls=""
					data-mejsoptions='{
								 "alwaysShowControls": true,
								 "alwaysShowHours": true,
								 "enableAutosize": true,
								 "features": ["playpause", "progress", "current", "duration", "volume", "speed"]
								 }'
					preload="auto"
					src="/audios/{{ page.ep_number }}.mp3">
				</audio>	
			</p>
			<a class="article-description"
				 href="/audios/{{ page.ep_number }}.mp3">
				mp3をダウンロード
			</a>
			<h1 class="article-title">説明</h1>
			<p class="article-description">{{ page.description }}</p>
			<div class="article-content">
				{{ content }}
			</div>

			<a href="https://twitter.com/share"
				 class="twitter-share-button" data-lang="ja">ツイート</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
			</div>
		</main>
		{% include footer.html %}
	</div>
</body>
</html>
